{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>Users</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email Address</th>
                <th>Staff</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}

            {% if user.staff %}

            <tr class="table-light">
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>Yes</td>
            </tr>

            {% else %}

            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>No</td>
            </tr>

            {% endif %}

            {% endfor %}
        </tbody>
    </table>
</div>

{% for user in users %}

{% endfor %}

{% endblock %}
