{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block header %}{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="rows">
        <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="text-danger text-center fs-2 mb-2">Log In</div>

            <div class="card">
                <div class="card-body">
                    <form action="{{ url_for('users.login') }}" method="POST">
                        {{ macros.render_fields(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
