{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block content %}

<div class="d-flex justify-content-between align-items-center">
    <h1>Tests</h1>

    {% if g.user.staff %}
        <span>
            <a type="button" class="btn btn-primary" href="{{ url_for('tests.create') }}">Create</a>
        </span>
    {% endif %}
</div>

{% for name, tests in [("tryouts", tryouts), ("practices", practices)] %}
    <h2>{{ name.title() }}</h2>

    {% if tests %}
        {% for test in tests %}
            <h3 class="d-flex justify-content-between align-items-center">
                {{ test.name }}

                {% if g.user.staff %}
                    <span>
                        <a type="button" class="btn btn-secondary" href="{{ url_for('tests.update', id=test.id) }}">Update</a>
                        <a type="button" class="btn btn-primary" href="{{ url_for('tests.delete', id=test.id) }}">Delete</a>
                    </span>
                {% endif %}
            </h3>

            <ul>
                <li><b>Start Date:</b> {{ macros.render_datetime(test.start) }}</li>
                <li><b>End Date:</b> {{ macros.render_datetime(test.end) }}</li>

                {% if g.user.staff or (test.active or test.over) %}
                    <li><b><a href="{{ url_for('tests.problems', id=test.id) }}">View Problems</a></b></li>
                {% endif %}

                {% if g.user.staff or test.over %}
                    <li><b><a href="{{ url_for('tests.results', id=test.id) }}">View Results</a></b></li>
                {% endif %}
            </ul>
        {% endfor %}
    {% else %}
        <p>No {{ name }} are currently available.</p>
    {% endif %}
{% endfor %}

{% endblock %}
