{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block content %}

<div class="d-flex justify-content-between align-items-center">
    <h1>Tests</h1>

    {% if g.user.staff %}

    <span>
        <a type="button" class="btn btn-primary" href="{{ url_for('tests.create') }}">Create</a>
    </span>

    {% endif %}
</div>

{% if tests %}

{% for test in tests %}

<h2 class="d-flex justify-content-between align-items-center">
    {{ test.name }}

    {% if g.user.staff %}

    <span>
        <a type="button" class="btn btn-secondary" href="{{ url_for('tests.update', id=test.id) }}">Update</a>
        <a type="button" class="btn btn-primary" href="{{ url_for('tests.delete', id=test.id) }}">Delete</a>
    </span>

    {% endif %}
</h2>

<ul>
    <li><b>Start Date:</b> {{ macros.render_datetime(test.start) }}</li>
    <li><b>End Date:</b> {{ macros.render_datetime(test.end) }}</li>
</ul>

{% endfor %}

{% else %}

<p>No tests are currently available.</p>

{% endif %}

{% endblock %}
