{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block content %}

<div class="d-flex justify-content-between align-items-center">
    <h1>Problems for {{ test.name }}</h1>

    {% if g.user.staff %}
        <span>
            <a type="button" class="btn btn-primary" href="{{ url_for('tests.create_problem', test_id=test.id) }}">
                Create Problem
            </a>
        </span>
    {% endif %}
</div>

{% if test.problems %}
    {% for problem in test.problems %}
        <h2 class="d-flex justify-content-between align-items-center">
            Problem {{ loop.index }}

            {% if g.user.staff %}
                <span>
                    <a type="button" class="btn btn-secondary" href="{{ url_for('tests.update_problem', test_id=test.id, id=problem.id) }}">Update</a>
                    <a type="button" class="btn btn-primary" href="{{ url_for('tests.delete_problem', test_id=test.id, id=problem.id) }}">Delete</a>
                </span>
            {% endif %}
        </h2>

        <p class="fs-5">{{ problem.statement }}</p>

        {% if g.user.staff %}
            <p class="fs-5">
                <b>Correct Answer:</b> {{ problem.answer }}
            </p>
        {% else %}
            {% set attempt = attempts[loop.index0] %}

            {% if test.active %}
                <form method="POST" action="{{ url_for('tests.attempt_problem', test_id=test.id, problem_id=problem.id ) }}">
                    {{ form.csrf_token }}
                    <div class="row mb-3">
                        <div class="col col-12 col-md-10">
                            {% if attempt %}
                                {{ form.answer(value=attempt.answer, class_="form-control") }}
                            {% else %}
                                {{ form.answer(class_="form-control") }}
                            {% endif %}
                        </div>
                        <div class="col col-12 col-md-2 mt-3 mt-md-0">
                            <div class="d-grid">
                                {{ form.submit(class_="btn btn-primary") }}
                            </div>
                        </div>
                    </div>
                </form>
            {% elif test.over %}
                <p class="fs-5">
                    <b>Correct Answer:</b> {{ problem.answer }}
                    <br/>
                    <b>Your Answer:</b> {{ attempt.answer if attempt else None }}
                </p>
            {% endif %}
        {% endif %}
    {% endfor %}
{% else %}
    <p>There are current no problems in this test.</p>
{% endif %}

{% endblock %}
