{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block content %}

<div class="d-flex justify-content-between align-items-center">
    <h1>Problems for {{ test.name }}</h1>

    {% if g.user.staff %}
        <span>
            <a type="button" class="btn btn-primary" href="{{ url_for('tests.create_problem', test_id=test.id) }}">
                Create Problem
            </a>
        </span>
    {% endif %}
</div>

{% if test.problems %}
    {% for problem in test.problems %}
        <h2>Problem {{ loop.index }}</h2>

        {{ problem.statement }}
    {% endfor %}
{% else %}
    <p>There are current no problems in this test.</p>
{% endif %}

{% endblock %}
