<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>The Lawrenceville Math Club</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    <link href="https://rsms.me/inter/inter.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>

<body>
    {% block navbar %}

    <nav class="navbar is-white" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item">
                <strong class="has-text-danger is-size-5">The Lawrenceville Math Club</strong>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="menu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Feed
                </a>
            </div>

            <div class="navbar-end">
                {% if g.user %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        {{ g.user.email }}
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{ url_for('users.logout') }}">
                            <strong class="has-text-danger">Log Out</strong>
                        </a>
                    </div>
                </div>
                {% else %}
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-danger is-light" href="{{ url_for('users.login') }}">
                            Log In
                        </a>
                        <a class="button is-danger">
                            Register
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>

    {% endblock navbar %}

    {% block content %}{% endblock %}

    {# From https://bulma.io/documentation/components/navbar/#navbar-burger #}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
            if ($navbarBurgers.length > 0) {
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
        });
    </script>
</body>

</html>
