<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    <link href="https://rsms.me/inter/inter.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>

    <title>The Lawrenceville Math Club</title>
</head>

<body>
    <nav class="navbar is-white is-spaced" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <strong class="has-text-danger is-size-5">The Lawrenceville Math Club</strong>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="menu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="menu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item">
                        Feed
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-danger is-light">
                                Log In
                            </a>
                            <a class="button is-danger">
                                Register
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}
</body>

</html>
