<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>The Lawrenceville Math Club</title>

    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
</head>

<body>
    {% block header %}

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('main.index') }}">
                    The Lawrenceville Math Club
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav">
                        {% if g.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('events.index') }}">Events</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('tests.index') }}">Tests</a>
                            </li>
                        {% endif %}

                        {% if g.user.staff %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('users.index') }}">Users</a>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        {% if not g.user %}
                            <li class="nav-item">
                                <a class="btn btn-secondary" href="{{ url_for('users.login') }}">
                                    Log In
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link active dropdown-toggle" id="dropdown" role="button"
                                    data-bs-toggle="dropdown">
                                    {{ g.user.email }}
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="{{ url_for('users.logout') }}">Log Out</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {% endblock header %}

    <div class="container my-5">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>

</html>
