{% extends "base.html" %}

{% block content %}

<h1>The Lawrenceville Math Club</h1>

{% if g.user %}
    <p>
        Welcome back, {{ g.user.email }}.
    </p>
{% else %}
    <p>
        If you are a Lawrenceville student,
        you can <a href="{{ url_for('users.login') }}">log in</a>
        or <a href="{{ url_for('users.register') }}">register</a>
        for an account.
    </p>
{% endif %}

<h1>Quick Links</h1>

<ul>
    <li>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdBeR-biUpjsawVX8h-ow9af730oHHvBeJhRAUUKyAl7v_GDw/viewform">
            <b>Sign Up to Take the AMC 10 or AMC 12</b>
        </a>
    </li>
    <li>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSe46CpeAUHqZuuGlbFU5bZ9QZouzhqs6HARShlat_aWJrcfww/viewform">
            Sign Up to Present a Colloquium
        </a>
    </li>
</ul>

{% endblock %}
